# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.env
.venv/

# IPython
.ipynb_checkpoints

# Pytest
.pytest_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# Distribution
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Misc
.DS_Store
*.swp
